@import "src/style/_vars.scss";

.WelcomeFocus {
  color: $focus-color-light;
}

.WelcomeImage {
  width: 100%;
  overflow: hidden;
  margin-top: 20px;
}

@media (min-width: 960px) {
  .Padding {
    padding: 20px;
  }
}

@media (max-width: 960px) {
  .Padding {
    padding-bottom: 20px;
  }
}
