@import "./_vars.scss";

$colors-light: ('Primary': $primary-color-light, 'Secundary': $secondary-color-light, 'Focus': $focus-color-light, 'Info': $info-color-light, 'Warning': $warning-color-light, 'Baby': $baby-color-light);

@each $color, $hex in $colors-light {
  .textColor#{$color} {
    color: $hex;
  }
  .backgroundColor#{$color} {
    color: $hex
  }
}

.Testing {
  color: red($primary-color-light);
}

h1, h2, h3, h4, h5, h6 {
  font-family: $primary-font-header;
  color: $primary-color-light;
}

body {
  font-family:  $primary-font-body;
  background-color: $baby-color-light;
  color: $primary-color-light;
  margin: 0;
}

a {
  color: $primary-color-light;
}

a.active {
  color: $focus-color-light;
}
