$primary-font-header: 'Nanum Gothic', sans-serif;
$primary-font-body: 'Nanum Gothic Coding', monospace;

$primary-color-light: #2f3131;
$secondary-color-light: #919191;
$focus-color-light: #f9ba32;
$info-color-light: #426e86;
$warning-color-light: #db0000;
$baby-color-light: #FFFEFC;
$bone-color-light: #ffffff;
